.container {
    position: relative;
    display: inline-block;
}

.right {
    position: absolute;
    min-width: 200px;
    z-index: 10;
    top: 50%;
    left: calc(100% + 5px);
    transform: stanslateY(-50%);
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.left {
    position: absolute;
    min-width: 200px;
    z-index: 10;
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
}